<html>
	<head>
		<title>{{ page.title }}</title>
		<link id="stylesheet" href="{{ site.base-url }}/css/github.css" rel="stylesheet" type="text/css"></link>
		<script type="text/javascript">

			function logoClick() {
				document.location = 'http://' + document.location.host;
			}

		</script>
<!-- Start of Google Analytics code -->
<!-- End of Google Analytics code -->

	</head>
	<body>
		<div class="header">
		</div>
		<div class="center">
			<table class="content">
				<tr>
					<td valign="top" class="content-column">
						<div>

							  {{ content }}


						</div>
					</td>
				<tr>
			</table>

			<div class="footer">
				<div style="border-style: none none dashed none; border-width: 1px; border-color: Silver;margin-top: 40px;"></div>
				<p style="font-size: 8.5pt;color:Gray;text-decoration:italics;text-align: center;">Copyright 2014 Progress Inc. All Rights Reserved.</p>
			</div>
		</div>

	</body>
</html>
